#web-miner-modal *,
#web-miner-modal *::before,
#web-miner-modal *::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#web-miner-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1000;
    background: white;
    border: 1px solid black;
    color: black;
    width: 400px;
    border-radius: 10px;
}

#web-miner-modal button {
    color: black;
    font-size: 16px;
    padding: 5px 10px;
}
