/* Container styling for the StepCard */
.step-card-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.empty-card {
    animation: fadeInSlideDown 0.5s ease-in-out;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.step-card-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.step-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; /* Adjust if needed */
}

/* Button styling for the pick button */
.step-pick-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.step-pick-button:hover {
    background-color: #e0e0e0;
}

/* Layout adjustments for card details */
.step-details {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

/* Placeholder text style for missing data */
.placeholder-text {
    font-weight: normal;
    color: #999;
    font-style: italic;
}

/* Selector text */
.step-selector-text {
    font-weight: bold;
    color: #333;
    max-width: 45%;
}

/* Styling for the command dropdown */
.step-command-select {
    padding: 6px 28px 6px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    color: black;
    max-width: 45%;
    white-space: nowrap;
}
